# Ignore Terraform directories and files
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Ignore other potential files
crash.log
.terraformrc
terraform.rc

# Ignore all Terraform modules
.terraform/
.tfstate
.tfstate.backup
